{% extends 'main/base.html' %}

{% block title%}Все авто{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/blocks/table.css') }}">
{% endblock %}

{% block content %}
<div class="table-container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Продавец</th>
                <th scope="col">Автомобиль</th>
                <th scope="col">Цена</th>
                <th scope="col">Оценщик</th>
                <th scope="col">Действие</th>
            </tr>
        </thead>
        <tbody>
            {% for post in posts %}
            <tr>
                <td>
                    {% if post.seller.avatar %}
                    <img width="50" height="50" src="{{ url_for('static', filename=post.seller.avatar) }}" alt="Владелец">
                    {% endif %}
                    <span class="seller-name">{{ post.seller.login }}</span>
                </td>
                <td>
                    {% if post.picture %}
                    <img width="50" height="50" src="{{ url_for('static', filename=post.picture) }}" alt="Автомобиль">
                    {% endif %}
                    <span class="car-name">{{ post.car_mark }}</span>
                </td>
                <td class="price">{{ post.price if post.price else 'Не указана' }}</td>
                <td>
                    {% if post.valuer %}
                        {% if post.valuer_user and post.valuer_user.avatar %}
                        <img width="50" height="50" src="{{ url_for('static', filename=post.valuer_user.avatar) }}" alt="Оценщик">
                        {% endif %}
                    {% endif %}
                    <span class="valuer-name">{{ post.valuer_login }}</span>
                </td>
                <td class="actions">
                    {% if session.user_id %}
                        {% if session.user_id == post.owner %}
                        <a href="{{ url_for('post.update', id=post.id) }}" class="btn btn-edit">Ред.</a>
                        <a href="{{ url_for('post.delete', id=post.id) }}" class="btn btn-danger">Удалить</a>
                        {% endif %}
                        <a href="{{ url_for('post.details', id=post.id) }}" class="btn btn-info">Подробнее</a>
                        {% if session.user_id == post.valuer %}
                        <a href="{{ url_for('review.create_review', post_id=post.id) }}" class="btn btn-success">Оценить авто</a>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}