{% extends 'main/base.html' %}

{% block title %} История оценок {% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/blocks/table.css') }}">
{% endblock %}

{% block content %}
<div class="table-container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Автомобиль</th>
                <th scope="col">Оценка</th>
                <th scope="col">Комментарий</th>
                <th scope="col">Дата</th>
            </tr>
        </thead>
        <tbody>
            {% for review in reviews %}
            <tr>
                <td>{{ review.car_mark }}</td>
                <td>{{ review.rating }}/10</td>
                <td>{{ review.comment }}</td>
                <td>{{ review.date.strftime('%d.%m.%Y %H:%M') }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}